{% extends "base_generic.html" %}

{% block content %}
<h1>OkeyProjects</h1>
<p> OkeyProject - современная система управления проектами и компаниями. В ней реализовано много функций для просмотра, создания и изменения компаний, их проектов и комментариев к ним. Благодаря ней есть возможность управлять вашими проектами удобным способом, как в CRM системе. Для возможности изменять, добавлять и удалять данные на сайте необходимо быть администратором или менеджером.
</p>
<p>На странице Проекты есть подробный список проектов по компаниям. При выборе определенного проекта, он отображается в подробном виде: название, описание, список комментариев, оценка. Менеджеры и админы аналогично могут дополнять и изменять этот список. У проектов, как и на других страницах, есть сортировка по убыванию и возрастанию.</p>
<p>У сайта есть также страница Комментариев к проектам. У комментариев есть ключевые слова (одно или несколько), по которым их можно выбирать из списка. Комментарий может быть оставлен определенным менеджером, в этом случае соответственно указывается менеджер.</p>
<p>Если вы являетесь частью администрации (менеджером или администратором), то у вас есть возможность просматривать и изменять личные данные в своем кабинете, такие как аватар и имя.</p>
<p>Вот список похожих CRM систем:</p>
<ul>
    <li>https://capsulecrm.com</li>
    <li>https://monday.com</li>
    <li>https://www.salesforce.com/crm/what-is-crm/</li>
</ul>
<p>Сортировать по названию компании:<a href="?sort=name">▲</a><a href="?sort=-name">▼</a></p>
<p>Сортировать по дате создания:<a href="?sort=date_create">▲</a><a href="?sort=-date_create">▼</a></p>
{% if user.is_staff %}
<a href="{% url 'company_create' %}">Добавить компанию</a>
{% endif %}
<ul>
    {% for company in company_list %}
    <li>
        <strong><a href="{% url 'company_detail' company.pk %}">{{ company.name }}</a></strong>
        {% if user.is_staff %}<a href="{% url 'company_update' company.pk%}">Обновить</a>, <a
            href="{% url 'company_delete' company.pk%}">Удалить</a> {% endif %}
    </li>
    {% empty %}
    <p>Нет компаний.</p>
    {% endfor %}
</ul>
{% endblock %}
