{% extends "base_generic.html" %}

{% block content %}
<h1>Список сообщений</h1>
<form action="" method="get">
    {{ filter.form.as_p }}
    <input type="submit"/>
</form>
<br>
<p>Сортировать по названию:<a href="?sort=name">▲</a><a href="?sort=-name">▼</a></p>
{% if user.is_staff %}
<a href="{% url 'message_create' %}">Добавить сообщение</a>
{% endif %}

<ul>
    {% for message in filter.qs %}
    <li>
        <strong><a href="{% url 'message_detail' message.pk %}">{{ message.description }}</a></strong>
        {% if user.is_staff %}<a href="{% url 'message_update' message.pk %}">Обновить</a>, <a
            href="{% url 'message_delete' message.pk %}">Удалить</a> {% endif %}
    </li>
    {% empty %}
    <p>Нет сообщений.</p>
    {% endfor %}
</ul>
{% endblock %}