<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-W7DZBNF');</script>
    <!-- End Google Tag Manager -->

    {% block title %}<title>Customer Relationship Manager</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Добавление дополнительного статического CSS файла -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W7DZBNF"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="container-fluid">
        <span class="row">
            {% block navbar %}
            <ul class="nav nav-pills">
                <li class="active">
                    <a href="{% url 'company_list' %}">Компании</a>
                </li>
                <li><a href="{% url 'project_list' %}">Проекты</a></li>
                <li><a href="{% url 'message_list' %}">Комментарии</a></li>
                {% if user.is_authenticated %}
                <li><a href="">Пользователь: {{ user.get_username }}</a></li>
                {% if user.manager %}
                <li><a href="{% url 'manager_page' user.manager.pk%}">Кабинет менеджера</a></li>
                {% endif %}
                <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
                <li><a href="{% url 'registration' %}">Register</a></li>
                {% endif %}
            </ul>
            {% endblock %}
        </span>
        <div id="text">
            <div class="row">
                {% block content %}{% endblock %}
                {% block pagination %}
                {% if is_paginated %}
                <div class="pagination">
                    <span class="page-links">
                        Номер страницы:
                        {% for page in page_obj.paginator.page_range %}
                        {% if page_obj.number == page %}
                        {{ page }}
                        {% else %}
                        <a href="{{ request.path }}?page={{ page }}">{{ page }} </a>
                        {% endif %}
                        {% endfor %}
                    </span>
                </div>
                {% endif %}
                {% endblock %}
            </div>
        </div>

    </div>
</body>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-175262524-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-175262524-1');
</script>
</html>
